.about__list {
  // display: flex;
  // flex-direction: column;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.about__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &::before {
    content: "";
    display: block;
    background: #f5f4fa;
    border-radius: 4px;
    height: 120px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  @include tablet {
    max-width: 354px;
  }
  @include desktop {
    max-width: 270px;
  }
  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  // &::before {
  //   content: "";
  //   display: block;
  //   background: #f5f4fa;
  //   border-radius: 4px;
  //   height: 120px;
  //   background-size: 70px;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   margin-bottom: 30px;
  // }
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}

.about__item-title {
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.42;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
  // margin-bottom: 10px;
  // color: var(--main-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--main-text-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  // text-align: center;
}

.about__icon-antenna::before {
  background-image: url(../images/antenna.png);
}

.about__icon-clock::before {
  background-image: url(../images/clock.png);
}

.about__icon-diagram::before {
  background-image: url(../images/diagram.png);
}

.about__icon-astronaut::before {
  background-image: url(../images/astronaut.png);
}

.about__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--list-text-color);
  // max-width: 270px;
}
