.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__main-container {
  // display: flex;
  // align-items: baseline;
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.footer-list {
  font-style: normal;
  text-align: center;
}

.footer-container__logo {
  // display: block;
  // margin-bottom: 20px;
  // font-family: "Raleway";
  // font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  // color: #ffffff;

  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list__item:not(:last-child) {
  // margin-bottom: 9px;
  margin-bottom: 8px;
}

.footer-list__link {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    }
}

.footer-list__mail-link,
.footer-list__tel-link {
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:hover,
  &:focus,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-second-container {
  // margin-left: 70px;
  text-align: center;
}

.footer-second-container__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc {
  // display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-soc__item {
  height: 44px;
  width: 44px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:first-child {
    margin-left: 0;
  }
}

.footer-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: var(--btn-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    }
}

.footer-soc__icon {
  fill: currentColor;
}

.footer-mailing {
  // margin-left: auto;
  text-align: center;
}

.footer-mailing__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-mailing__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mailing__icon-telegram {
  fill: #ffffff;
}

.footer-mailing__input {
  margin-bottom: 10px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  // width: 358px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
    }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-mailing__btn {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  // margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}