.header {
  /* border-bottom: 1px dashed #ececec; */
  outline: 1px solid #ececec;
  outline-offset: -1px;
}

.header-container {
  position: relative;
  // display: flex;
  // align-items: center;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include desktop {
    display: flex;
    align-items: center;
  }
}

// .nav__logo {
//   margin-right: 93px;
//   padding-top: 24px;
//   padding-bottom: 24px;
// }

.menu__link.current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;

    background-color: #2196f3;
    border-radius: 2px;
    bottom: 0;
    left: 0;
  }
}

.nav {
  display: flex;
  align-items: center;
  // align-items: center;
  // margin-right: 305px;
}

.nav__logo {
  // margin-right: 93px;
  // padding-top: 24px;
  // padding-bottom: 24px;
  padding: 16px 0;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  @include tablet {
    margin-right: 88px;
  }
  @include desktop {
    margin-right: 93px;
    padding: 23px 0;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.menu__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-contacts {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
  @include desktop {
    flex-direction: row;
    gap: 30px;
  }
}

.menu {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.mail {
  // margin-right: 30px;
  @include tablet {
    margin-bottom: 10px;
  }
}

.mail__link {
  padding-top: 19px;
}

.tel__link {
  padding-bottom: 19px;
}

.tel__link,
.mail__link {
  display: flex;
  align-items: center;
  // justify-content: center;
  // padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:hover,
  &:focus,
  &:focus {
    color: var(--accent-color);
  }
  @include desktop {
    padding: 32px 0;
  }
}

.mail__icon,
.tel__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .tel__link:hover &,
  .mail__link:hover &,
  .tel__link:focus &,
  .mail__link:focus & {
    fill: var(--accent-color);
  }
}
