.hero {
  display: none;
  padding-top: 0;
}

.hero__container {
  text-align: center;
}

.hero__list {
  display: flex;
  flex-direction: row;
}

.hero__item-description {
  position: relative;
}

.hero__description-text {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.hero__item:not(:last-child) {
  margin-right: 30px;
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}