body.menu-open {
  overflow: hidden;
}

.mobile-menu {
  display: none;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;

  transition: transform 250ms, opacity 250ms linear;
  opacity: 0;
  transform: translateX(-100%);
  &.is-open {
    transform: translateX(0);
    transition: transform 250ms, opacity 250ms linear;
    opacity: 1;
  }
  @media screen and (max-width: 767px) {
    &.is-open {
      display: flex;
    }
  }
}

.mobile-menu-top__link.current {
  color: var(--accent-color);
}

.mobile-menu-btn {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 15px;
  display: inline-flex;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.mobile-menu-btn .mobile-menu__open {
  display: none;
}

.mobile-menu-btn.is-open .mobile-menu__open {
  display: block;
}

.mobile-menu-btn.is-open .mobile-menu__close {
  display: none;
}

.mobile-menu-top__list {
  margin: 0 auto;
}

.mobile-menu-top__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-top__link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: #000;
}

.mobile-menu-bottom__list {
  margin-bottom: 64px;
}

.mobile-menu-bottom__item {
  margin-bottom: 32px;
}

.mobile-menu-bottom__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-bottom__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-soc {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.mobile-menu-soc__item {
  padding: 5px 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu-soc__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
