.team {
  background-color: var(--secondary-background-color);
}

.team__container {
  text-align: center;
}

.team__list {
  // display: flex;
  // flex-direction: row;
}

.team__item {
  // background-color: #ffffff;
  // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  //   0px 2px 1px rgba(0, 0, 0, 0.2);
  // border-radius: 0px 0px 4px 4px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__text-container {
  // padding: 30px 32px;
  padding: 30px 0 24px;
}

.team__title {
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  // letter-spacing: 0.03em;
  // margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--list-text-color);
  margin-bottom: 16px;
}

.team__soc-list {
  display: flex;
  justify-content: center;
}

.team__soc-item {
  height: 44px;
  width: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.team__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}

.team__soc-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team__soc-link:hover &,
  .team__soc-link:focus & {
    fill: var(--btn-color);
  }
}



