body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--page-background-color);
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}
