:root {
    --btn-background-color: #2196f3;
    --btn-color: #ffffff;
    --list-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #2f303a;
    --secondary-background-color: #f5f4fa;
    --page-background-color: #ffffff;
    --main-text-color: #212121;
    --icon-color: #afb1b8;
}